<div>
    <svg id="l1" viewBox="0 0 168 108" xmlns="http://www.w3.org/2000/svg">
      <defs>
          <linearGradient id="gradient1" x1="0%" y1="0%" x2="100%" y2="0%">
            <stop offset="0%" stop-color="#FF7AB4" />
            <stop offset="100%" stop-color="#FF0550" />
          </linearGradient>
      </defs>
      <path class="border" d="M11 21C20.6497 21.0466 29.6339 19.3434 39.0556 17.5C42.6156 16.8035 45.834 14.8847 49.4444 14.2222C53.8742 13.4094 58.2718 13.042 62.7222 12.0556C68.7238 10.7253 74.9026 10.0616 80.9444 8.88889C93.4239 6.46672 106.181 3.50601 118.889 2.61111C126.682 2.06232 134.19 2.96624 141.444 5.94445C149.026 9.05705 154.074 13.6498 158.778 20.2778C163.783 27.3308 165.912 33.575 165.611 42.2222C165.383 48.7658 163.711 54.9176 164.389 61.4444C164.801 65.4152 162.72 67.4322 160.833 70.6667C158.285 75.0357 159.117 82.6591 160 87.2222C160.803 91.3711 157.709 95.359 153.833 96.3889C151.084 97.1196 148.895 96.6856 146.722 98.7778C140.427 104.84 132.664 106.063 124.056 106C114.512 105.93 105.347 104.272 96.2222 101.556C91.3319 100.099 86.4205 98.6036 81.6944 96.6667C81.4162 96.5526 77.5864 95.1729 77.1667 94.3333C76.5883 93.1766 81.3598 95.2095 80.5556 96.2222C79.2814 97.8268 76.5436 98.1074 74.7222 98.2778C60.2456 99.6323 45.5057 98.3306 31.8333 93.3333C24.3263 90.5895 16.8389 87.5446 11.3889 81.5C7.8835 77.6122 3.90469 72.3445 3 67.0556C1.47643 58.1486 2.72673 48.028 4.44444 39.2778C5.61791 33.3 6.98031 26.5281 10.5 21.5" fill="url(#gradient1)" stroke="#F3BE62" stroke-width="0" stroke-linecap="round"/>
  </svg>
  </div>
  <div>
    <svg id="RL" viewBox="0 0 121 67" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M119.5 3.49999C111.318 3.49999 103.169 3.00719 95 2.6111C89.1123 2.32564 81.9848 3.82019 76.2778 2.22221C73.1743 1.35325 70.1975 0.823222 66.9444 1.1111C60.6935 1.66429 56.4371 6.02914 50 6.44444C38.2858 7.20019 25.76 6.39251 15.1111 12.5C10.4644 15.165 8.97456 18.2641 7.77777 23.2222C6.81441 27.2133 11.1849 28.2623 14.2778 28.7778C18.185 29.429 21.1067 28.6034 24.2222 26.2778C25.9481 24.9894 27.7242 23.7624 29.4444 22.4722C30.9292 21.3586 31.5 19.8376 31.5 22.5C31.5 26.2821 29.805 26.5487 26.5 28.1111C23.3662 29.5926 18.978 30.779 15.5 30.9722C12.6919 31.1282 6.32132 29.6861 4.11111 31.6111C2.33311 33.1597 -0.109155 39.4946 2.58333 40.9444C5.5004 42.5152 9.81649 42 13 42C18.6384 42 23.335 40.9969 28.8333 39.8055C31.4311 39.2427 31.8295 38.8504 28.8333 39.2222C24.9082 39.7093 20.9979 40.4521 17.0833 41.0278C14.8796 41.3518 4.7693 42.8445 5.33333 46.7222C6.43427 54.2912 20.635 50.08 25.2778 50C27.7216 49.9579 32.5444 50 26.7778 50C25.0098 50 10.0392 50.6933 13.9722 55.75C16.876 59.4834 32.6516 57.7607 27.9444 58.2222C25.7144 58.4408 21.0559 59.2254 19.8611 61.4444C18.9499 63.1366 23.4848 65.2151 24.5278 65.3889C34.0237 66.9715 39.2612 56.9209 46.9444 53.7778C54.4333 50.7141 61.6353 47.3106 69.8889 47.5278C79.768 47.7877 89.1071 54.1676 98.5 56.8889C102.947 58.1772 107.511 58.966 111.972 60.1944C112.747 60.4078 114.13 60.6471 114.889 61.1111C114.996 61.1766 115.066 61.4903 115.25 61.4167C116.041 61.1002 115.507 55.5254 115.5 54.9444C115.443 50.0884 113.984 45.5322 113.722 40.7222C113.249 32.0288 115.116 23.0452 117.639 14.7778C118.46 12.0867 120 9.59034 120 6.74999C120 4.66446 119.617 5.23481 119 3.99999" stroke="rgb(240, 178, 120)" stroke-width="2" stroke-linecap="round" fill="url(#colorLH)"/>
    </svg>
    <img src="assets/lace1.png" id="lace1">
    <img src="assets/lace1.png" id="lace4">
  </div>
  <div>
    <svg id="l2" viewBox="0 0 153 141" xmlns="http://www.w3.org/2000/svg">
      <defs>
          <linearGradient id="gradient2" x1="0%" y1="0%" x2="100%" y2="0%">
            <stop offset="0%" stop-color="#FF7AB4" />
            <stop offset="100%" stop-color="#FF0550" />
          </linearGradient>
      </defs>
      <path class="border" d="M104.5 26.5C96.6211 23.2832 88.851 19.7934 81.1389 16.1945C73.8855 12.8095 66.4406 11.3991 59.0278 8.69446C52.8783 6.45073 47.8124 3.93195 41.2222 3.00001C34.1849 2.00484 28.974 1.70646 22.6667 5.41668C17.4074 8.51034 12.1578 11.4005 7.61111 15.5C6.46635 16.5322 -0.224798 27.2117 3.5 27.8889C4.49653 28.0701 7.95142 22.0369 6.13889 25.4445C4.35596 28.7964 3.24016 32.2606 3.02778 36.0833C2.86954 38.9317 3.35763 40.7761 4.75 43.1945C5.17576 43.9339 7.45807 45.2249 7.41667 45.6389C7.23183 47.4873 6.03563 49.0565 6 50.9445C5.9456 53.8278 6.52098 56.6855 7.11111 59.5C8.15516 64.4793 12.8724 73.2004 17.3333 75.7778C19.372 76.9557 18.7633 78.7009 19.8333 80.5556C21.1912 82.9091 23.6357 85.1145 26 86.4445C27.7373 87.4217 29.8128 88 31.8056 88C31.925 88 33.9923 87.9077 32.6111 88.0278C30.7592 88.1888 30.3262 89.6056 30.1667 91.3333C29.7676 95.6568 33.3086 97.3626 36.5 99.3889C42.4069 103.139 47.7785 106.818 53.2778 111.167C61.5686 117.722 70.868 122.457 79.7222 128.167C85.5197 131.905 91.2147 135.513 97.5 138.389C102.128 140.507 105.121 132.317 106.472 129.361C108.685 124.52 110.515 119.466 114.139 115.444C117.789 111.394 122.888 109.017 127.778 106.833C132.782 104.599 137.776 102.719 143.25 102.111C145.221 101.892 148.511 102.32 150.361 101.333C153.897 99.4474 143.427 84.5513 141.917 82.1945C137.274 74.9497 131.79 68.1944 127.611 60.6667C122.828 52.0508 119.684 42.1219 113.889 34.1111C109.181 27.6038 103.259 25.8967 96.5 23"  fill="url(#gradient2)" stroke="#F3BE62" stroke-width="0" stroke-linecap="round"/>
  </svg>
  </div>
   <div>
    <svg id="LL" viewBox="0 0 81 90" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M3 40.5C2.36976 48.623 2 56.5407 2 64.6944C2 68.9097 2.67167 73.9225 5.5 77.2222C7.33532 79.3634 10.1423 78.8341 11.6111 76.7778C13.0281 74.7939 12.2188 75.9342 12.8333 77.7778C13.6681 80.2821 15.8025 82.3904 18.2778 83.2778C21.23 84.3361 23.319 81.832 23.5278 79.2222C23.8046 75.7622 24.102 79.0445 24.6111 80.4444C25.4407 82.7258 28.1975 85.0636 30.5 85.6667C32.7425 86.254 34.6159 85.7369 36.1667 84C36.2369 83.9213 37.1674 82.4201 37.5 82.5555C38.836 83.0998 40.4305 85.6088 41.5555 86.5555C45.3108 89.7159 56.1803 91.2428 56.5 83.8889C56.6375 80.7264 56.4186 77.7701 55.75 74.6944C55.4258 73.2029 55.451 71.6313 55.5 70.1111C55.5596 68.264 57.3889 66.3977 57.3889 64.9167C57.3889 63.7289 55.8436 66.8199 55.5555 67.9722C55.2243 69.2971 55.549 70.8615 55.3889 72.2222C54.9231 76.1817 55.1618 81.878 58.2778 84.8333C62.9624 89.2764 74.1703 90.415 77.6944 83.8889C81.3332 77.1505 78.6212 68.0695 77.6944 60.8611C76.7235 53.3095 74.2129 45.893 72.6111 38.5C68.2188 18.228 46.4242 4.069 27.1111 1.27777C16.8859 -0.200033 8.37977 4.31637 6.22222 14.5C5.42847 18.2465 4.63428 22.0825 4.52777 25.9167C4.41801 29.8683 3.93113 32.0288 3.05555 35.75C2.5292 37.987 3.44939 40.4802 2.88888 42.7222C2.19459 45.4994 1.48651 48.2017 1.11111 51.1111C0.618509 54.9287 2 58.3029 2 62.0556C2 66.9084 1.98943 71.2823 4.27777 75.75C4.85623 76.8794 5.62631 79.3462 7.13888 79.4722C9.50412 79.6693 11.0284 78.8644 12.3889 77C14.8676 73.6032 14.9539 68.0081 15 64C15.0162 62.593 15 61.1849 15 59.7778C15 57.3085 15.0596 64.7683 14.4722 67.1667C13.6274 70.6162 11.1512 74.3888 12.5556 78C13.3361 80.007 19.4114 85.9966 22 83.7778C23.9474 82.1086 23.8934 78.8973 24.3333 76.6389C24.9234 73.61 26.5 70.6547 26.5 67.5555C26.5 66.5968 26.7143 60.9709 26.3889 64.7778C26.108 68.0641 24.5096 70.685 24.0556 73.75C23.3234 78.6918 25.5004 83.5013 29.7778 86.1944C36.6972 90.5511 38.9683 79.9399 39 75C39.0278 70.6583 38.5 66.3452 38.5 62" stroke="rgb(240, 178, 120)" stroke-width="2" stroke-linecap="round" fill="url(#colorLH)"/>
      </svg>
   </div>
    <div>
      <svg id="l3" viewBox="0 0 154 154" xmlns="http://www.w3.org/2000/svg">
        <defs>
            <linearGradient id="gradient3" x1="0%" y1="0%" x2="100%" y2="0%">
              <stop offset="0%" stop-color="#FF7AB4" />
              <stop offset="100%" stop-color="#FF0550" />
            </linearGradient>
        </defs>
        <path class="border" d="M3 2C5.1787 7.52276 7.38439 11.5842 11.3333 15.9444C14.8407 19.8171 17.717 23.7032 20.5556 28.0556C32.7205 46.7085 44.2829 65.8751 55.1111 85.3333C65.9943 104.89 76.9164 124.781 89.1111 143.556C91.1 146.618 93.4282 151.154 97.3333 152.167C99.7498 152.793 105.057 152.864 105.722 149.583C106.469 145.898 103.177 142.549 101.222 139.861C99.3832 137.332 105.556 144.447 108.167 146.167C110.616 147.78 114.598 149.24 117.556 148.333C123.101 146.633 120.065 139.063 118.667 135.556C117.256 132.02 119.051 134.19 121.278 132.389C125.007 129.371 126.242 123.201 127.278 118.833C131.693 100.212 134.285 81.2081 139.917 62.8889C142.85 53.3464 145.899 43.8321 149.056 34.3611C150.023 31.4584 153.327 25.1736 152.139 21.9722C150.951 18.7697 145.273 21.3126 143.5 22.3889C140.469 24.229 141.42 18.7774 137.5 18.2222C132.461 17.5085 127.616 21.7803 123.833 24.4444C120.087 27.0837 116.331 29.7651 112.5 32.2778C106.766 36.039 101.116 38.3359 94.3333 39.5C83.1592 41.4178 71.2134 42.4533 59.8889 41.5278C52.9023 40.9568 47.1246 38.511 40.9167 35.4444C34.6558 32.3517 28.3345 29.2835 22.5556 25.3333C16.2175 21.001 11.1055 15.685 6.41667 9.63889C4.95351 7.75219 1.24499 1.73496 2 4" fill="url(#gradient3)" stroke="#F3BE62" stroke-width="0" stroke-linecap="round"/>
      </svg>
    <img src="assets/lace2.png" id="lace2">
    <img src="assets/lace2.png" id="lace3">
    </div>
    <div>
      <img src="assets/path.png" id="path">
    </div>
    <div>
      <img src="assets/mushak.png" id="mushak">
    </div>
</div>
