<div class="menuBar" id="menuBar">
    <h3>Customize your bappa !</h3>
    <hr>
    <h5>select the drape color</h5>
    <label for="color1">First Color</label>
    <input type="color" id="color1" value="#FFCA80" />
    <label for="color2">Second Color:</label>
    <input type="color" id="color2" value="#F3BE62" />
    <hr>
    <div class="selection-container">
        <div class="selection-item">
            <h5>Select the turban</h5>
            <button type="button" class="btn btn-primary btn-sm nextPheta">Choose here</button>
            <button type="button" id="pheta" class="btn btn-primary btn-sm nextPheta">Choose turban</button>
        </div>
        
        <hr>
        <div class="selection-item">
            <h5>Select the necklace </h5>
            <button type="button" class="btn btn-primary nextHar btn-sm">Choose here</button>
            <button type="button" id="har" class="btn btn-primary nextHar btn-sm">Choose necklace</button>
        </div>
        <hr>
        <div class="selection-item">
            <h5>Select the trident</h5>
            <button type="button" class="btn btn-primary nextTri btn-sm">Choose here</button>
            <button type="button" id="tri" class="btn btn-primary nextTri btn-sm">Choose trident</button>
        </div>
        <hr>
        <div class="selection-item">
            <h5>Select background color</h5>
            <input type="color" id="bg" value="#007180"/>
        </div>
    </div>
 

</div>
<button class="menu-btn" id="menu-btn">☰</button>

