<div class="menuBar" id="menuBar">
    <p>Choose color :</p>
    <hr>
    <label for="color1">First Color:</label>
    <input type="color" id="color1" value="#FFCA80" />
    
    <label for="color2">Second Color:</label>
    <input type="color" id="color2" value="#F3BE62" />
    
    <label for="borderColor">Border Color:</label>
    <input type="color" id="borderColor" value="#F3BE62" />
    <label for="pheta">Change pheta</label>
    <button id="nextPheta">Next pheta</button>
    <button id="nextHar">Next har</button>
    <button id="nextTri">Next tri</button>
</div>
<button class="menu-btn" id="menu-btn">☰</button>
