<div id="imageContainer">
    <img id="pheta" class="pheta" src="assets/pheta1.png" alt="Img"> 
  </div>
    <div id="lEar">
        <svg id="svgLE" viewBox="0 0 71 68" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M47 19C41.5725 14.0155 36.1628 6.78985 29.1944 3.94444C21.9531 0.987544 14.7211 1.13485 9.58333 7.27778C4.06368 13.8774 -1.15943 25.1903 3.72222 33.6111C7.08902 39.4188 13.4998 41.3719 18.7222 44.7778C22.6888 47.3647 22.6808 51.9781 26.8333 54.5556C29.4574 56.1843 31.9938 57.9189 35 58.7778C39.0061 59.9224 43.2787 59.4741 47.3333 60.3333C53.9043 61.7258 59.5396 70.2874 65.4167 62.7778C66.469 61.4331 69.0371 58.237 68.5556 56.4444C67.5665 52.763 62.9146 49.2791 60.5 46.5C53.2375 38.1413 47.5817 29.1022 45.5 18" stroke="rgb(244, 215, 179)" stroke-width="1" stroke-linecap="round" fill="url(#colorF)"/>
        </svg>
    </div>
  <div id="face" >
    <svg id="svgF" viewBox="0 0 112 102" xmlns="http://www.w3.org/2000/svg">
        <defs>
            <linearGradient id="colorF" x1="0%" y1="0%" x2="100%" y2="100%">
              <stop offset="0%" style="stop-color:#fddbb0;stop-opacity:1" /> 
              <stop offset="100%" style="stop-color:#f4a460;stop-opacity:1" />
            </linearGradient>
          </defs>
        <path d="M37.5 3.5C44.2482 3.5 50.8042 3.41352 57.5278 2.75C63.9152 2.11966 71.4812 1.01757 77.8889 2.36111C83.1732 3.4691 89.3044 7.36573 93.8889 10.1111C101.218 14.4998 104.737 22.453 107.667 30.1667C110.232 36.9213 110.366 44.3058 110.472 51.4444C110.592 59.4551 109.464 66.6283 106.75 74.1667C104.141 81.414 99.9359 88.4741 93.0833 92.4167C87.3648 95.7068 79.6304 97.1929 73.2222 98.5556C65.0137 100.301 56.5018 100 48.1667 100C40.6914 100 34.1501 99.5907 27.1667 96.6111C25.0794 95.7206 24.2537 94.7196 22.7778 93.0833C20.132 90.15 17.0912 87.6028 14.3611 84.75C8.94179 79.0871 7.18452 72.3844 5.05556 64.9444C2.1102 54.6515 -0.85265 42.1169 4.5 32.0556C9.44207 22.766 20.3208 18.531 28.5 12.6667C32.3726 9.89007 34.25 7.24999 37 3.5" stroke="rgb(244, 215, 179)" stroke-width="1" stroke-linecap="round" fill="url(#colorF)"/>
    </svg>
  </div>
  <div id="sond">
    <svg id="svgS" viewBox="0 0 107 119" fill="none" xmlns="http://www.w3.org/2000/svg">
        <defs>
            <linearGradient id="colorS" x1="0%" y1="0%" x2="100%" y2="100%">
              <stop offset="0%" style="stop-color:#f4c280;stop-opacity:1" /> 
              <stop offset="100%" style="stop-color:#f4a460;stop-opacity:1" /> 
            </linearGradient>
          </defs>
        <path d="M4.5 10C4.5 15.7482 3.82183 20.5479 2.5 26.0556C0.910755 32.6774 6.7784 40.0192 10.1111 45.3056C12.8313 49.6203 13.1888 54.6473 15.3333 59.2222C17.3419 63.5072 18.438 68.4843 20.9444 72.5C24.0047 77.4029 29.5001 82.3654 34.1667 85.6667C42.9558 91.8843 54.3537 92.2242 64.7222 92.5C72.5771 92.7089 89.2556 96.4729 84.3889 107.944C81.3278 115.16 72.9961 111.545 71.8333 105.111C71.2362 101.807 71.3577 98.3702 70.5 95.1111C69.7337 92.1992 71.5271 101.059 72.3889 103.944C74.2042 110.022 77.175 112.726 82.7222 115.5C88.7949 118.536 97.2471 117.787 101.806 112.139C106.595 106.204 104.185 97.0304 101.778 90.7222C98.5869 82.3599 93.6024 74.2653 86.6667 68.5C82.0665 64.6761 76.8442 61.2806 71.5556 58.5C68.497 56.8919 65.323 55.9486 64.0556 52.3889C62.5512 48.164 62.3926 43.0016 61.5278 38.6111C60.4515 33.147 58.917 27.6964 58.0833 22.1944C56.877 14.2329 50.0552 8.06625 45 2"  stroke-width="0" stroke-linecap="round" fill="url(#colorS)"/>
        </svg>
        <img src="assets/sondJ.png" id="sondJ">
  </div>
  <div id="rEar">
    <svg id="svgRE" viewBox="0 0 45 67" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M5 23C5.12253 12.9524 9.78282 5.09047 20.1667 2.72222C27.0538 1.15147 32.195 2.15426 36.6667 7.77778C39.8654 11.8005 41.5076 19.3977 42.3889 24.5C43.4755 30.791 37.0051 34.3872 34.7222 39.3333C34.0164 40.8627 34.2003 42.5564 33.6389 44.1111C32.7417 46.5958 31.0466 48.4301 29.2222 50.2778C25.0715 54.4814 21.0072 59.0153 16.4167 62.75C14.0735 64.6563 11.5831 65.264 8.61111 64.3889C4.55983 63.196 1.42813 61.1214 2.05556 56.6667C2.65698 52.3966 3.78736 48.2367 4.55556 44C5.79902 37.1421 5.30485 29.3412 4.5 22.5" stroke="rgb(244, 215, 179)" stroke-width="1" stroke-linecap="round" fill="url(#colorF)"/>
    </svg>
  </div>