body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.main {
    background-color: rgb(86, 132, 173);
    height: 100%;
    width: 40rem;
    position: relative; 
}


.face1 {
    height: 14.5625rem;
    width: 16.875rem;
    background-color: #ffdbac;
    border-radius: 50% 48% 51% 36% / 36% 61% 36% 49%;
    margin: 12rem;
    position: relative;
    transform: rotate(4deg);
    z-index: 1;
}

.earleft {
    width: 11.0625rem;
    height: 15.6875rem;
    background-color: #ffdbac;
    border-radius: 34% 66% 77% 23% / 49% 57% 43% 51%;
    border: 2px solid black;
    position: absolute;
    transform: rotate(336deg);
    top: 10rem;
    left: 6rem;
}

.earright {
    width: 10.5625rem;
    height: 15.1875rem;
    background-color: #ffdbac;
    border-radius: 77% 23% 34% 66% / 57% 49% 51% 43%;
    border: 2px solid black;
    position: absolute;
    transform: rotate(11deg);
    top: 10rem;
    right: 7rem;
}
/* Vector 134 */


