body {
    height: 100vh;
    display: flex;
    margin: 0;
    padding: 0;
}

.menuBar {
    height: 100%;
    width: 100%;
    background-color: aqua;
}

.main {
    height: 100%;
    width: 100%;
    background-color: aquamarine;
}
/* face */
.top div{
    height: 0;
    width: 0;
}
#svgF{
    margin-top: 11rem;
    margin-left: 20rem;
    height: 10rem;
    width: 12rem;
}

#svgRE{
    margin-top: 12rem;
    margin-left: 30.8rem;
    height: 8rem;
    width: 4rem;
}

#svgLE{
    margin-top: 1rem;
    margin-left: 17em;
    height: 32rem;
    width: 6rem;
}

#svgS{
    height: 33rem;
    width: 9rem;
    margin-top: 5rem;
    margin-left: 24rem;
}
/*leg */
.leg {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.l1, .l2, .l3 {
    width: 30%; 
}

.l1 {
    height: 17rem;
    width: 16rem;
    margin-top: 28rem;
    margin-left: 12rem;
}

.l2 {
    height: 28rem;
    margin-top: -13rem;
    margin-left: -7rem;
}

.l3 {
    height: 21rem;
    width: 11rem;
    margin-top: -24rem;
    margin-left: 11rem;
}


@media only screen and (max-width: 768px) {
    body {
        flex-direction: column;
    }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
    .menuBar {
        width: 30%;
    }
    .main {
        width: 70%;
    }
}
