#LHK{
    margin: 0.2rem 0 0 10.9rem;
    position: relative;
    z-index: 4;
    height: 5rem;
    width: 2rem;
    transform: rotate(13deg);
}

#RH1K{
    margin: -2.8rem 0 0 40.9rem;
    position: relative;
    z-index: 1;
    height: 5rem;
    width: 2rem;
    transform: rotate(111deg);
}

#RH2K{
    margin: 2.8rem 0 0 37.9rem;
    position: relative;
    z-index: 1;
    height: 6rem;
    width: 3rem;
    transform: rotate(222deg);
}

#pheta {
    margin: 1.5rem 0 0 13rem;
    height: 12rem;
    width: 20.5rem;
    position: relative;
    z-index: 6;
    transform: rotate(-7deg);
}

#Har{
    margin: -18rem 0 9rem 20rem;
    height: 11rem;
    width: 14rem;
    position: relative;
    z-index: 3;
}

#sondJ{
    margin: -22rem 0 19rem 25.4rem;
    height: 7rem;
    width: 7rem;
    position: relative;
    z-index: 8;
    transform: rotate(30deg);
}

#trishul1{
    margin: -14rem 0 9rem 5.6rem;
    height: 8rem;
    width: 5rem;
    position: relative;
    z-index: 4;
    transform: rotate(10deg);
}

#trishul2{
    margin: -21rem 0 17rem 40.3rem;
    height: 8rem;
    width: 6rem;
    position: relative;
    z-index: 0;
    transform: rotate(6deg);
    transform: scaleX(-1);
}

#lace1{
    margin: -9.1rem 0 17rem 20.6rem;
    height: 5rem;
    width: 3.7rem;
    position: relative;
    z-index: 4;
    transform: rotate(6deg);
}

#lace2{
    margin: -17.1rem 0 2rem 33.6rem;
    height: 16rem;
    width: 3.7rem;
    position: relative;
    z-index: 4;
    transform: rotate(15deg);
}

#lace3{
    margin: -22.1rem 0 12rem 28.6rem;
    height: 12rem;
    width: 3.7rem;
    position: relative;
    z-index: 3;
    transform: rotate(96deg);
}

#lace4{
    margin: -14.1rem 0 9rem 22.6rem;
    height: 7rem;
    width: 2.7rem;
    position: relative;
    z-index: 7;
    transform: rotate(235deg);
}

#shela1{
    margin: -24.1rem 0 9rem 18.6rem;
    height: 16rem;
    width: 4.7rem;
    position: relative;
    z-index: 4;
    transform: rotate(5deg);
}

#shela2{
    margin: -5.6rem 0 2rem 11.6rem;
    height: 18rem;
    width: 6.7rem;
    position: relative;
    z-index: 2;
    transform: rotate(2deg);
}

#shela3{
    margin: -10.1rem 0 2rem 35.6rem;
    height: 16rem;
    width: 8.7rem;
    position: relative;
    z-index: 2;
    transform: rotate(6deg);
}

#eye1{
    margin: -8rem 0 6rem 21.7rem;
    height: 2rem;
    width: 3rem;
    position: relative;
    z-index: 11;
    transform: rotate(4deg);
    filter: brightness(110%);
}

#eye2{
    margin: -14rem 0 0 29rem;
    height: 2rem;
    width: 3rem;
    position: relative;
    z-index: 18;
    transform: rotate(19deg);
}

#b1{
    margin: -8.8rem 0 6rem 28.9rem;
    height: 2rem;
    width: 4rem;
    position: relative;
    z-index: 11;
    transform: rotate(14deg);
    filter: brightness(60%);
}

#b2{
    margin: -8.8rem 0 6rem 20.7rem;
    height: 2rem;
    width: 4rem;
    position: relative;
    z-index: 11;
    filter: brightness(60%);
    transform: scaleX(-1) rotate(32deg);
}

#tika{
    margin: -9.8rem 0 8rem 25.5rem;
    height: 1.6rem;
    width: 2rem;
    position: relative;
    z-index: 11;
    filter: brightness(60%);
}

#tika2{
    margin: -3.8rem 0 8rem 26.6rem;
    width: 8rem;
    height: 11rem;
    position: relative;
    z-index: 6;
    filter: brightness(60%);
    transform: rotate(3deg);
}

#path{
    margin: 23.7rem 0 0 -0.4rem;
    height: 30rem;
    width: 50.7rem;
    position: relative;
    z-index: 1;
}

#swastik{
    margin: -17rem 0 0 5.8rem;
    height: 2rem;
    width: 1.7rem;
    position: relative;
    z-index: 14;
    transform: rotate(54deg);
}

#mushak{
    margin: 35.7rem 0 0 -7.4rem;
    height: 19rem;
    width: 14rem;
}

#dant{
   margin: -2.3rem 0 0 23.6rem;
   height: 4rem;
   width: 8.5rem;
   position: relative;
   z-index: 10;
   transform: rotate(-16deg);
}