#LHK{
    margin-top: 0.2rem;
    margin-left: 10.9rem;
    position: relative;
    z-index: 4;
    height: 5rem;
    width: 2rem;
    transform: rotate(13deg)
}

#RH1K{
    margin-top: -2.8rem;
    margin-left: 40.9rem;
    position: relative;
    z-index: 1;
    height: 5rem;
    width: 2rem;
    transform: rotate(111deg);
}

#RH2K{
    margin-top: 2.8rem;
    margin-left: 37.9rem;
    position: relative;
    z-index: 1;
    height: 6rem;
    width: 3rem;
    transform: rotate(222deg);
}