.menuBar {
    width: 0;
    height: 47%;
    margin-top: 15rem;
    overflow: hidden;
    transition: width 0.3s ease;
    position: absolute;
    right: 0; 
    background: rgba(255, 255, 255, 0.7); 
    backdrop-filter: blur(8px); 
    box-shadow: -3px 0 10px rgba(0, 0, 0, 0.2); 
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px; 
}

.menu-btn {
    position: absolute;
    top: 1rem;
    right: 1rem;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    width: 3.5rem;
    height: 3.5rem;
    background-color: rgba(0, 113, 128, 0.9);
    color: #fff;
    font-size: 2rem;
    border-radius: 50%;
    z-index: 10;
}

.menu-open .menuBar {
    width: 25rem;
}

.menu-open .main {
    margin-right: 20rem;
    width: calc(100% - 20rem); 
}


#turban, #har {
    display: none;
}


.menuBar h3 {
    margin-top: 0.5rem;
    text-align: center;
}

.menuBar h5 {
    margin-left: 2rem;
}

.menuBar Label  {
    margin-left: 2rem;
}
.selection-item {
    display: flex;
    align-items: center; 
    justify-content: space-between; 
}

.selection-item button {
    margin-right: 3rem;
}

.selection-item h5 {
    margin-left: 2rem;
}

.selection-item input {
    margin-right: 3rem;
}

@media screen and (max-width: 1140px) {
    .menu-open .menuBar {
        width: 20rem;
        margin-top: 15rem;
    }
    .menuBar h3 {
        padding: 0.3rem; 
        font-size: 1.3rem;
    }

    .menuBar h5, .menuBar label {
        margin-left: 1rem; 
        font-size: 0.9rem;
    }

    .selection-item button {
        margin-right: 1rem; 
    }


    .selection-item h5 {
        margin-left: 1rem; 
        font-size: 0.9rem; 
    }
}

@media  screen and (max-width:998px) {
    .menu-open .menuBar {
        width: 15rem;
        margin-top: 15rem;
        overflow:scroll;
    }

    .menuBar #color1{
        margin-left: 5rem;
    }

    .menuBar #color2{
        margin-left: 3.3rem;
    }

    .selection-item input {
        margin-left:3rem;
    }
    
}

@media screen and (max-width: 888px) {
    .menuBar {
        display: flex;
        flex-wrap: nowrap;
        width: 0;
        height: 0;
        margin-top: 0;
        bottom: 0;
        right: 0;
        padding: 1rem;
        transition: height 0.3s ease;
    }

    .menu-open .menuBar {
        height: 5rem;
        width: 100%;
    }

    .menuBar hr,   .menuBar h3,   .menuBar label,   .selection-item h5,  .menuBar h5 {
        display: none;
    }

    .selection-container .nextHar,.selection-container .nextPheta , .selection-container .nextTri{
        display: none;
    }

    .selection-container #pheta, .selection-container #har,.selection-container #tri{
        display: inline-block;
    }

    .selection-container {
        display: flex;
        flex-wrap: nowrap;
        padding: 0;
    }

    .selection-item {
        flex: 0 0 auto;
        margin-right: 1rem;
        min-width: 4rem;
    }

    .selection-item button {
        display: inline-block;
        margin: 0.5rem 0;
        width: auto;
        padding: 0.5rem 1rem;
        font-size: 0.9rem;
    }
}
